* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.header {
    position: relative;
    height: 60px;
    width: 100%;
    box-shadow: #00000011 0px 3px 8px 3px;
    margin-bottom: 50px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding-inline-start: 0;
}

.menu__item {
    list-style: none;
    height: 100%;
    width: 160px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ffd484;
    transition: linear 300ms;
}
.menu__item:hover {
    border-bottom: 4px solid #ffd484;
    transition: linear 100ms;
}

.restricted {
    max-width: 80vw;
    margin: auto;
}
section {
     display: flex;
    flex-direction: column;
    align-items: center;
}

/* Burger */
.burger__button {
    display: none;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 2px;
    overflow: hidden;
    /* padding: 6px 0; */
    transition: ease-in-out 300ms;
}

.burger__button-icon {
    margin: 11px 0;
    height: 4px;
    width: 32px;
    background-color: #ffd484;
    /* border-bottom: 1px solid #3e3e3e44; */
    
}
.burger__button-icon::before {
    content: '';
    display: block;
    height: 4px;
    width: 32px;
    background-color: #ffd484;
    /* border-bottom: 1px solid #3e3e3e44; */
    transform: translateY(-10px);
    
    
}
.burger__button-icon::after {
    content: '';
    display: block;
    height: 4px;
    width: 44px;
    background-color: #ffd484;
    /* border-bottom: 1px solid #3e3e3e44; */
    transform: translateY(6px);
}

.burger__button-active {
    border-radius: 50%;
    transform: rotate(130deg);
    transition: ease-in-out 300ms;
}


/* Intro commit*/

.intro {
    position: relative;
    
    height: calc(100vh - 60px);
    min-height: 500px;
}
.intro__text-container {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.intro__image {
    height: 80%;
    
}
.intro__text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.intro__title {
    font-size: 45px;
}
.intro__title h1 {
    margin: 0;
}
.intro__subtitle {
    font-size: 15px;
    color: #3e3e3e;
}
.intro__button {
    margin-top: 30px;
    height: 80px;
    width: 250px;
    align-self: flex-start;
    background-color: #ffd484;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    /* position: absolute;
    top: 450px;
    left: 650px; */
}

.intro__button:hover {
    transform: translate(2px, 2px);
}

/* About */
.about {
    background-color: #00000008;
    padding: 30px 0;
    
}

.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}
.about__container {
    max-width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    text-align: center;
}

.about__subtitle {
    text-align: center;
}

.about__icon {
    align-self: center;
    height: 120px;
    width: 120px;
}

/* Services */

.services {
    height: 100vh;
    min-height: 600px;
    padding: 30px 0;
}

.services__head-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.services__wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.services__container {
    max-width: 400px;
    height: 160px;
    display: flex;
    flex-direction: row;
    

}

.services__image {
    min-width: 160px;
    height: 160px;
    
}

.services__text-container {
    padding: 20px;
    font-size: 14px;
}

.services__title {
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    text-align: left;
}


/* How to */
.howto {
    background-color: #00000008;
}
.howto__head-title h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}
.howto__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.howto__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.howto__container-icon {
    height: 150px;
    width: 150px;
}

.howto__container-title {
    font-size: 25px;
    font-weight: bold;
}
.howto__container-subtitle {
    font-size: 14px;
}

/* Swiper */

.preswiper {
    display: none;
}

.swiper {
    height: 250px;
    width: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.swiper-button-next {
    right: -50px !important;
}

.swiper-button-prev {
    left: -50px !important;
}




/* Additional */

.inactive {
    display: none;
}

.active {
    display: block !important;
}

.body-block {
    overflow-y: hidden;
    height: 100%;
}

.go-up {
    position: fixed;
    border: none;
    box-shadow: #3e3e3e11 3px 3px 5px 3px;
    border-radius: 50%;
    background: url('../img/up-arrow.png'), #ffd484;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
}
.go-up:hover {
    bottom: 18px;
    right: 18px;
    box-shadow: #3e3e3e11 3px 3px 0px 0px;
}
.hide {
    display: none;
}

/* Media */

@media screen and (max-width: 1350px) {

    .intro__title {
        font-size: 28px;
    }
    .intro__subtitle {
        font-size: 10px;
    }
    .intro__button {
        height: 60px;
        width: 180px;
        font-size: 18px;
    }

    .services {
        height: auto;
    }
    .services__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
    }
    .howto__wrapper {
        flex-direction: column;
    }
    .howto__container {
        max-width: 500px;
    }
}

@media screen and (max-width: 950px) {

    .preswiper {
        display: block;
        position: relative;
    }
    .services {
        min-height: auto;
    }
    .services__wrapper {
        display: none;
    }
    .services__container {
        max-width: 500px;
    }
    .services__title {
        text-align: center;
    }
    .services__head-title {
        margin-bottom: 0;
        font-size: 42px;
    }

    .howto h1 {
        font-size: 42px;
    }

    .menu__list {
        justify-content: center;
    }
    .intro {
        min-height: auto;
        height: auto;
    }
    .intro__image {
        display: none;
    }

    .intro__text-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0px;
        text-align: center;
    }
    .intro__text-container {
        padding: 40px;
    }
    .intro__button {
        align-self: center;
    }
}

@media screen and (max-width: 690px) {
    main {
        padding-top: 40px;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
    .services__container {
        flex-direction: column;
    }
    .swiper {
        height: 400px;
        width: 280px;
        margin-right: 30px;
    }
    .burger__button {
        display: block;
    }
    .header {
        position: fixed;
        background-color: white;
        z-index: 10;
        height: 40px;
    }

    .header__menu {
        position: absolute;
        top: 39px;
        background-color: white;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    .menu__list {
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 20px;
    }
    .menu__item {
        height: 70px;
        width: 80vw;
        font-size: 20px;
        text-align: left;

    }
    .intro__text-container {
        padding: 0;
    }
    .about__wrapper {
        flex-direction: column;
    }
    /* .go-up {
        height: 35px;
        width: 35px;
        background-size: 24px;
    } */
}