/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }

* {
    box-sizing: border-box;
    font-family: "Roboto";
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  color: #1d2f52;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.header {
    position: relative;
    height: 60px;
    width: 100%;
    box-shadow: #00000011 0px 3px 8px 3px;

}

.menu__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding-inline-start: 0;
}

.menu__item {
    list-style: none;
    height: 100%;
    width: 160px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #a2a4fb;
    transition: linear 300ms;
}

.menu__item:hover {
    border-bottom: 4px solid #a2a4fb;
    transition: linear 100ms;
}

.restricted {
    max-width: 80vw;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Burger */
.burger__button {
    display: none;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 2px;
    overflow: hidden;
    /* padding: 6px 0; */
    transition: ease-in-out 300ms;
}

.burger__button-icon {
    margin: 11px 0;
    height: 4px;
    width: 32px;
    background-color: #a2a4fb;
    /* border-bottom: 1px solid #3e3e3e44; */

}

.burger__button-icon::before {
    content: '';
    display: block;
    height: 4px;
    width: 32px;
    background-color: #a2a4fb;
    /* border-bottom: 1px solid #3e3e3e44; */
    transform: translateY(-10px);


}

.burger__button-icon::after {
    content: '';
    display: block;
    height: 4px;
    width: 44px;
    background-color: #a2a4fb;
    /* border-bottom: 1px solid #3e3e3e44; */
    transform: translateY(6px);
}

.burger__button-active {
    border-radius: 50%;
    transform: rotate(130deg);
    transition: ease-in-out 300ms;
}


/* Intro commit*/

.intro {
    position: relative;

    height: calc(100vh - 60px);
    min-height: 500px;
}

.intro__text-container {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}

.intro__image {
    height: 80%;

}

.intro__text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.intro__title {
    font-size: 45px;
}

.intro__title h1 {
    margin: 0;
}

.intro__subtitle {
    font-size: 15px;
    color: #3e3e3e;
}

.intro__button {
    margin-top: 30px;
    height: 80px;
    width: 250px;
    align-self: flex-start;
    background-color: #a2a4fb;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    /* position: absolute;
    top: 450px;
    left: 650px; */
}

.intro__button:hover {
    transform: translate(2px, 2px);
}

/* About */
.about {
    background-color: #00000008;

}

.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 40px;
}
.about__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    background-image: url('../img/service.png');
    background-repeat: no-repeat;
    background-position: top 180px right 20px;
    background-size: 350px;
    padding-bottom: 40px;
    min-height: 500px;
    background-color: #a2a4fb33;
}

.about__info-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
    align-self: center;
}
.about__info-list {
    width: 600px;
}
.about__info-string {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}

.about__container {
    max-width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    text-align: center;
}

.about__subtitle {
    text-align: center;
}

.about__icon {
    align-self: center;
    height: 120px;
    width: 120px;
}

/* Services */

.services {
    height: 100vh;
    min-height: 600px;
    padding-bottom: 30px;
}


.services__wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.services__container {
    max-width: 400px;
    height: 160px;
    display: flex;
    flex-direction: row;


}

.services__image {
    min-width: 160px;
    height: 160px;

}

.services__text-container {
    padding: 20px;
    font-size: 14px;
}

.services__title {
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    text-align: left;
}


/* How to */
.howto {
    background-color: #00000008;
}


.howto__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.howto__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.howto__container-icon {
    height: 150px;
    width: 150px;
}

.howto__container-title {
    font-size: 25px;
    font-weight: bold;
}

.howto__container-subtitle {
    font-size: 14px;
}

/* Contacts */
.contacts {
    padding: 30px 0;
}

.contacts__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts__form {
    height: 70vh;
    border: 3px solid #a2a4fb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 40px 30px 40px;
    align-items: flex-start;
    min-height: 350px;
}

.form__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    align-self: center;
}

.contacts__form-textarea {
    display: block;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    border: 0 white;
    border-bottom: 2px solid #a2a4fb;
    transition: all 500ms ease-in-out;
    padding: 10px;
}
.contacts__form-textarea:focus {
    outline: none;
    border: 1px solid #a2a4fbaa;
    transition: all 500ms ease-in-out;
}
.contacts__form-textarea:valid {
    background-image: url(../img/checkbox.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.contacts__form-textarea.submitted:invalid {
    border: 0;
    border-bottom: 2px solid red;
}

.message-area {
    height: 120px;
    resize: none;
}

.form__submit {
    align-self: center;
    height: 50px;
    width: 150px;
    background-color: #a2a4fb;
    color: white;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    min-height: 50px;
}

.contacts__social {
    height: auto;
    width: 280px;
    background-color: #a2a4fb;
    margin-left: -35px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-height: 270px;
}
.contacts__social-title {
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.contacts__social-network {
    display: flex;
    gap: 20px;
}
.phonemail {
    color: white;
    padding-left: 30px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    height: 30px;
    font-size: 20px;
}
.contacts__phone {
    background-image: url('../img/phone-call.png');

}
.contacts__email {
    background-image: url('../img/envelope.png');
}
.social-link {
    height: 30px;
    width: 30px;
}

/* Footer */

.footer {
    height: 80px;
    background-color: rgb(37, 31, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff44;
    font-size: 12px;
}

.footer__references:hover {
    text-decoration: underline;
}
.footer__references {
    color: #ffffff44;
}
/* Swiper */

.preswiper {
    display: none;
}

.swiper {
    height: 250px;
    width: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.swiper-button-next {
    right: -50px !important;
}

.swiper-button-prev {
    left: -50px !important;
}



/* Additional */

.head-title {
    padding: 40px 0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.inactive {
    display: none;
}

.active {
    display: block !important;
}

.body-block {
    overflow-y: hidden;
    height: 100%;
}

.go-up {
    position: fixed;
    border: none;
    box-shadow: #3e3e3e11 3px 3px 5px 3px;
    border-radius: 50%;
    background: url('../img/up-arrow.png'), #a2a4fb;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
}

.go-up:hover {
    bottom: 18px;
    right: 18px;
    box-shadow: #3e3e3e11 3px 3px 0px 0px;
}

.hide {
    display: none;
}

/* Media */

@media screen and (max-width: 1350px) {

    .intro__title {
        font-size: 28px;
    }

    .intro__subtitle {
        font-size: 10px;
    }

    .intro__button {
        height: 60px;
        width: 180px;
        font-size: 18px;
    }

    .services {
        height: auto;
    }

    .services__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
    }

    .howto__wrapper {
        flex-direction: column;
    }

    .howto__container {
        max-width: 500px;
    }
}

@media screen and (max-width: 950px) {

    .preswiper {
        display: block;
        position: relative;
    }
    .about__info {
        background-image: none;
        align-items: center;
        padding: 20px 20px 0 20px;
    }
    .about__info-title {
        padding: 20px 0;
    }
    .about__info-list {
        width: auto;
        max-width: 500px;
        padding-right: 20px;
    }

    .services {
        min-height: auto;
    }

    .services__wrapper {
        display: none;
    }

    .services__container {
        max-width: 500px;
    }

    .services__title {
        text-align: center;
    }

    .services__head-title {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 42px;
    }

    .howto h1 {
        font-size: 42px;
    }

    .menu__list {
        justify-content: center;
    }

    .intro {
        min-height: auto;
        height: auto;
    }

    .intro__image {
        display: none;
    }

    .intro__text-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0px;
        text-align: center;
    }

    .intro__text-container {
        padding: 40px;
    }

    .intro__button {
        align-self: center;
    }
}

@media screen and (max-width: 690px) {
    main {
        padding-top: 40px;
    }
    .head-title {
        font-size: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .services__container {
        flex-direction: column;
    }

    .swiper {
        height: 400px;
        width: 280px;
        margin-right: 30px;
    }

    .burger__button {
        display: block;
    }

    .header {
        position: fixed;
        background-color: white;
        z-index: 10;
        height: 40px;
    }

    .header__menu {
        position: absolute;
        top: 39px;
        background-color: white;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .menu__list {
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 20px;
    }

    .menu__item {
        height: 70px;
        width: 80vw;
        font-size: 20px;
        text-align: left;

    }

    .intro__text-container {
        padding: 0;
    }

    .about__wrapper {
        flex-direction: column;
        gap: 30px;
    }

    /* .go-up {
        height: 35px;
        width: 35px;
        background-size: 24px;
    } */
    .howto__container {
        padding: 30px;
    }

    .contacts__wrapper {
        flex-direction: column-reverse;
    }
    .contacts__form {
        width: 80vw;
        align-items: center;
    }
    .contacts__social {
        width: 80vw;
        margin: 0;
    }
    .contacts__form-textarea {
        width: 60vw;
    }
    .contacts__form {
        margin-top: -1px;
    }
    .phonemail {
        font-size: 18px;
        background-size: 18px;
    }
}